<div class="flex flex-col items-center justify-between gap-8">
    <img class="size-64" src="assets/images/Logo-Qui-veut-gagner-des-millions.png" alt="">

    <div class="flex flex-row gap-4">
        <span>Nom d'utilisateur</span>
        <input class="input" type="text" [(ngModel)]="username" placeholder="Entrez votre nom d'utilisateur">
    </div>

    <div class="grid grid-cols-2 gap-5" *ngIf="!createLobby && !joinLobby && !loadingQuestion">
        <button class="answer-button" (click)="onCreateLobbyClick()">
            <span>Créer un salon</span>
        </button>
        
        <button class="answer-button" (click)="onJoinLobbyClick()">
            <span>Rejoindre un salon</span>
        </button>
    </div>

    <div *ngIf="joinLobby">
        <!-- Contenu pour rejoindre un salon -->
         <app-join-lobby ></app-join-lobby>
    </div>
</div>
