<div class="quiz-container mx-auto p-6 max-w-lg bg-white rounded-lg shadow-lg" *ngIf="currentQuestion | async as question">
  <!-- Timer et barre de progression -->
  <div class="timer-container mb-6">
    <div class="timer text-2xl font-bold text-center mb-2">
      <span id="timer">{{ timer }}</span> secondes restantes
    </div>
    <div class="progress-bar-container w-full h-2 bg-gray-300 rounded-full">
      <div class="progress-bar h-full bg-green-500 rounded-full transition-all" [style.width.%]="progressBarWidth"></div>
    </div>
  </div>

  <!-- Question -->
  <div class="question-container mb-6">
    <p class="text-lg font-semibold"><strong>Question:</strong> {{ currentQuestion.value!.question }}</p>
  </div>

  <!-- Réponses -->
  <div class="answers-container space-y-4">
    <button (click)="answer(1)" 
            [ngClass]="{'disabled:bg-green-500': currentQuestion.value!.correct_answer === 1, 'disabled:bg-red-500': selectedAnswer === 1 && currentQuestion.value!.correct_answer !== 1}"
            [disabled]="!isAnswerable" 
            class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300 flex items-center justify-center disabled:bg-gray-300">
      <span>{{ currentQuestion.value?.answer1 }}</span>
      <i *ngIf="selectedAnswer === 1" class="ml-2 text-white fa fa-check"></i> <!-- Icone check -->
    </button>
    <button (click)="answer(2)" 
            [ngClass]="{'disabled:bg-green-500': currentQuestion.value!.correct_answer === 2, 'disabled:bg-red-500': selectedAnswer === 2 && currentQuestion.value!.correct_answer !== 2}"
            [disabled]="!isAnswerable"  
            class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300 flex items-center justify-center disabled:bg-gray-300">
      <span>{{ currentQuestion.value?.answer2 }}</span>
      <i *ngIf="selectedAnswer === 2" class="ml-2 text-white fa fa-check"></i> <!-- Icone check -->
    </button>
    <button (click)="answer(3)" 
            [ngClass]="{'disabled:bg-green-500': currentQuestion.value!.correct_answer === 3, 'disabled:bg-red-500': selectedAnswer === 3 && currentQuestion.value!.correct_answer !== 3}"
            [disabled]="!isAnswerable"  
            class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300 flex items-center justify-center disabled:bg-gray-300">
      <span>{{ currentQuestion.value?.answer3 }}</span>
      <i *ngIf="selectedAnswer === 3" class="ml-2 text-white fa fa-check"></i> <!-- Icone check -->
    </button>
    <button (click)="answer(4)" 
            [ngClass]="{'disabled:bg-green-500': currentQuestion.value!.correct_answer === 4, 'disabled:bg-red-500': selectedAnswer === 4 && currentQuestion.value!.correct_answer !== 4}"
            [disabled]="!isAnswerable"  
            class="w-full py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 transition duration-300 flex items-center justify-center disabled:bg-gray-300">
      <span>{{ currentQuestion.value?.answer4 }}</span>
      <i *ngIf="selectedAnswer === 4" class="ml-2 text-white fa fa-check"></i> <!-- Icone check -->
    </button>
  </div>
</div>
